body {
/*   background-color: black; */
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  margin-top: 10%;
  font-family: Georgia, serif;
  background-image: url("https://media.istockphoto.com/id/1432000638/video/space-nebula-looped-spin.jpg?s=640x640&k=20&c=G9T4YOYeeIo4SPa_mXGazpvCnWHL61XjeJdM_DD_qxs=");

}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border: 1px solid black;
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 20px;
}

.pic{
  height: 600px;
  width: 400px;
  object-fit: cover;
  border: 1px solid black;
}

h2{
  color: black;
}

#start{
  text-align: left;
}

#end{
  text-align: right ;
}



  
